@use "variables";

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;

}

.container{
    max-width: 1311px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-bg{
    background-color: variables.$navy850;
    position: relative;
}
.hero-bg::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 200px;

    background: url("../images/bg-curvy-desktop.svg") center bottom / 100% 100% no-repeat;

    pointer-events: none;
}

// ========================================

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 64px;
}
.header-logo{
    width: 176px;
    height: 51px;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 56px;
}
.menu-link{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    color: variables.$white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
        font-weight: 700;
    }
}
@media (max-width: 545.98px) {
    .header{
        padding-top: 24px;
        padding-bottom: 48px;
    }
    .header-logo{
        width: 80px;
        height: 24px;
    }
    .menu-link{
        font-size: 12px;
    }
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 56px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero-image{
    max-width: 720px;
    height: 534px;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}
.hero-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 734px;
    margin: 0 auto;
    text-align: center;
}
.hero-title{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    line-height: 120%;
    letter-spacing: 0px;
    color: variables.$white;
    font-weight: 700;
}
.hero-text{
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0px;
    max-width: 589px;
    margin: 40px auto 0;
    text-align: center;
}
.hero-button{
    margin-top: 32px;
    width: 280px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    line-height: 120%;
    letter-spacing: 0px;
    border-radius: 30px;
    font-weight: 700;
    background: linear-gradient(#63E1D9, #34A0CD);
    color: variables.$white;
    transition: all 0.3s ease 0s;
    &:hover{
        opacity: 0.7;
    }
}

@media (max-width:767.98px) {
    .hero-image{
        height: auto;
    }
}
@media (max-width:424.98px) {
    .hero-bg::after{
        background: url("../images/bg-curvy-mobile.svg") center bottom / 100% 100% no-repeat;
    }
    .hero{
        gap: 72px;
    }
    .hero-title{
        font-size: 20px;
        line-height: 120%;
    }
    .hero-text{
        font-size: 14px;
        line-height: 150%;
        margin: 24px auto 0;
    }
    .hero-button{
        margin-top: 24px;
        width: 240px;
        height: 48px;
    }
}

// ==============================

.main-content{
    background-color: variables.$navy900;
}

// ==============================

.features{
    padding-top: 50px;

}
.featues-body{
    max-width: 907px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.features-row{
    display: flex;
    align-items: center;
    gap: 165px;
}
.features-column{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 0 1 363px;
}
.column-features_image{
    width: 80px;
    height: 80px;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}
.column-features_title{
    margin-top: 16px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.column-features_text{
    margin-top: 8px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;

}
@media (max-width: 767.98px) {
    .featues-body{
        gap: 72px;
    }
    .features-row{
        display: flex;
        gap: 80px;
    }
}
@media (max-width: 650px) {
    .features-row{
        flex-direction: column;
        gap: 80px;
    }
    .featues-body{
        gap: 80px;
    }
    .features-column{
        flex: none;
        width: auto;
    }
}

// ====================================

.stay{
    margin-top: 146px;

}
.stay-body{
    max-width: 1186px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 56px;
}
.stay-image{
    flex: 1 1 55%;
    min-width: 0;
    img{
        width: 100%;
        object-fit: cover;
        display: block;
    }
}
.stay-content{
    flex: 1 1 45%;
    min-width: 0;
}
.content-stay_title{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 700;
    margin-bottom: 32px;
    max-width: 400px;
}
.content-stay_text{
    margin-top: 16px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;

}
.content-stay_link{
    display: inline-block;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: variables.$blue300;
    text-decoration: underline;
    &::before{
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 8px;
        right: -15px;
        background-image: url("../images/icon-arrow.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 767.98px) {
    .stay-body{
        flex-direction: column;
    }
    .content-stay_title{
        max-width: 700px;
    }
}
@media (max-width: 424.98px) {
    .stay-body{
        gap: 72px;
    }
    .content-stay_title{
        font-size: 16px;
    }
    .content-stay_text{
        font-size: 14px;
    }
    .content-stay_link{
        font-size: 14px;
        &::before{
            top: 7px;
            right: -18px;
        }
    }

}

// ===============================================

.testimonails{
    margin-top: 160px;
}
.testimonails-body{
    padding-top: 50px;
}
.testimonails-row{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
}
.testimonails-column{
    flex: 0 1 360px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 24px;
    background-color: variables.$navy800;
    border-radius: 5px;
}
.column-testimonails_text{
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}
.column-testimonails_block{
    display: flex;
    align-items: center;
    gap: 8px;

}
.column-testimonails_image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }
}
.column-testimonails_info{
    display: flex;
    flex-direction: column;
}
.column-testimonails_name{
    font-size: 10px;
    line-height: 180%;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.column-testimonails_ocupation{
    font-size: 7px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

@media (max-width:767.98px) {
    .testimonails{
        margin-top: 72px;
    }
    .testimonails-body{
        padding-top: 60px;
    }
    .testimonails-row{
        flex-direction: column;
        max-width: 504px;
        gap: 40px;
    }
    .testimonails-column{
        flex: none;
        min-height: auto;
        padding: 43px 40px;
    }
}
@media (max-width: 424.98px) {
    .testimonails{
        margin-top: 150px;
    }
    .testimonails-body{
        padding-top: 20px;
    }
    .testimonails-row{
        gap: 24px;
    }
    .testimonails-column{
        padding: 24px;
        gap: 16px;
    }
}