$white: #fff;
$black: #000;

$navy950: #0B1524; 
$navy900: #181F2B; 
$navy850: #1B2330; 
$navy800: #202A3C; 
$navy50: #DFE4F0; 

$blue300: #62E0D9;
$blue250: #8ADAE3;

$red500: #FF4242;

$gray400: #C0C0C0;

